.home-page {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.picture {
    display: block;
    width: 100%;
    height: auto;
}

.header {
    color: rgb(31, 185, 31);
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
}